.flex290 {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 8px;
}

.mB8px {
    margin-bottom: 8px;
}

button {
    border-radius: 6px;
}

.form_container input {
    height: 40px;
}

.modal.showModal {
    display: block;
    opacity: 1;
    background: rgba(10, 10, 10, 0.75);
}

.modal.fade .modal-dialog {
    transform: translate(0, calc(46vh - 120px)) !important;
}

.modal-header {
    border-bottom: 0 !important;
}

@media (max-width: 950px) {
    div.form_container form#booking > div .flex290 {
        width: 45% !important;
    }
    div.form_container form#booking > div {
        flex-wrap: wrap !important;
    }
}

@media (max-width: 600px) {
    div.form_container form#booking > div .flex290 {
        width: 90% !important;
    }
}