.flex290 {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 8px;
}

.mB8px {
    margin-bottom: 8px;
}

button {
    border-radius: 6px;
}

.form_container input {
    height: 40px;
}

@media (max-width: 950px) {
    div.form_container form#booking > div .flex290 {
        width: 45% !important;
    }
    div.form_container form#booking > div {
        flex-wrap: wrap !important;
    }
}

@media (max-width: 600px) {
    div.form_container form#booking > div .flex290 {
        width: 90% !important;
    }
}