.flex290 {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 8px;
}

.mB8px {
    margin-bottom: 8px;
}

button {
    border-radius: 6px;
}

@media (max-width: 950px) {
	div.form_container form#booking>div {
		flex-direction: column;
	}
	div.form_container form#booking>div .div.flex290 {
		width: 90vw;
	}
}