article.roomArticle {
    margin: 0.5em 0;
    padding: 1em 2em;
}

.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.roomsContainer .roomArticle {
    margin-right: 8px;
}