.calculateSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calcView {
    display: block;
    width: 240px;
    z-index: 99;
    border-left: none;
    background-color: #edc2a754;
}

.calcDisplay {
    width: 240px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    text-align: right;
    background-color: #edc2a700;
    border: 0;
    pointer-events: none;
}

.btnn,
.btnnNr {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #edc2a754;
    border: none;
    font-size: 24px;
}

.btnnEqual {
    display: block;
    width: 60px;
    height: 240px;
    background-color: #edc2a754;
    border: none;
    font-size: 24px;
}

.calcKeysCol1,
.calcKeysCol2,
.calcKeysCol3,
.calcKeysCol4 {
    display: table-cell;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
}

.btnn:hover,
.btnnNr:hover,
.btnnEqual:hover {
    background-color: #edc2a7;
}