@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body {   
    background-color: #FFFFFF;
    main {
    padding: 0 2em 2em 2em;
        h2 {
            padding-bottom: 8px;
            text-decoration: underline;
        }
    }
    p.text-muted {
        padding: 0 2em;
    }
}

@media (max-width: 360px) {
    body {   
        main {
        padding: 8px;
        }
    }
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logoSPAText {
        text-align: center;
        margin-left: 0 !important;
    }
}

footer.footer {
    background-color: #edc2a7;
    padding: 1em 0;
    div,
    span {
    color: #FFFFFF;
    }
    .goog-te-gadget,
    .goog-logo-link {
        color: #FFFFFF !important;
    }
    span.mainText {
        color: #000000;
        font-weight: 600;
        margin-bottom: 8px;
    }
    p {
        margin: 0;
    }
    p.text-muted {
        color: #FFFFFF !important;
        text-align: center;
        margin-top: 8px;
    }
    .footerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.btn-primary {
    background-color: #edc2a7 !important;
    border-color: #edc2a7 !important;
    color: #000000 !important;
}

.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus {
    box-shadow: 0 0 0 0.25rem #edc2a7;
}

.btn-info {
    background-color: #FFFFFF !important;
    border-color: #edc2a7 !important;
    color: #000 !important;
}

.btn-check:focus+.btn-info, .btn-info:focus, .btn-info:hover {
    background-color: inherit !important;
    border-color: #edc2a7 !important;
    color: #000 !important;
    font-weight: 600 !important;
}

nav .btn-primary {
    display: inline-block;
    position: relative;
    color: #000000;
}

nav .btn-primary:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav .btn-primary:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}