@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body {   
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    main {
        padding: 0 16px 16px 16px;
        h2 {
            position: relative;
            font-family: "Merriweather", serif;
            padding-bottom: 8px;
            text-align: center;
            margin-top: 16px;
            font-weight: 600;
            &::after {
                display: block;
                content: "";
                width: 60px;
                height: 3px;
                background: #edc2a7;
                position: absolute;
                bottom: 4px;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: -1;
            }
        }
        .detailsArticle {
            width: 600px;
            margin: 16px auto 0;
        }
        @media (max-width: 700px) {
            .detailsArticle {
                width: 90vw;
            }
        }
    }
    p.text-muted {
        padding: 0 2em;
    }
}

@media (max-width: 360px) {
    body {   
        main {
        padding: 8px;
        }
    }
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logoSPAText {
        text-align: center;
        margin-left: 0 !important;
    }
}

footer.footer {
    background-color: #edc2a7;
    padding: 1em 0;
    div,
    span {
    color: #FFFFFF;
    }
    .goog-te-gadget,
    .goog-logo-link {
        color: #FFFFFF !important;
    }
    span.mainText {
        color: #000000;
        font-weight: 600;
        margin-bottom: 8px;
    }
    p {
        margin: 0;
    }
    p.text-muted {
        color: #FFFFFF !important;
        text-align: center;
        margin-top: 8px;
    }
    .footerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.btn-info:disabled {
    border-color: #ababab !important; 
    color: #ababab !important;
}

.btn-primary {
    background-color: #edc2a7 !important;
    border-color: #edc2a7 !important;
    color: #000000 !important;
}

.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus {
    box-shadow: 0 0 0 0.25rem #edc2a7;
}

.btn-info {
    background-color: #FFFFFF !important;
    border-color: #edc2a7 !important;
    color: #000 !important;
}

.btn-check:focus+.btn-info, .btn-info:focus, .btn-info:hover {
    background-color: #edc2a74d !important;
    border-color: #edc2a7 !important;
    color: #000 !important;
}

.btn.hero-buttons {
    transition: 0.6s;
}

.btn.hero-buttons:hover {
    box-shadow: 0px 0px 35px -12px rgba(66, 68, 90, 1);
}

.btn.hero-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homePage .bigImage {
    width: 100vw;
    border-radius: 0;
    height: 30vh;
    margin: 0 -16px 0 -16px;
    box-shadow: 18px 18px 36px -12px #edc2a7;
}

.closeAddtoCartModalButton,
.closeFillInputsModal,
.closeModal {
    font-size: 24px;
    padding: 0 12px;
    border-color: #edc2a7;
	transition: 0.6s;
}

.closeAddtoCartModalButton:hover,
.closeFillInputsModal:hover,
.closeModal:hover {
    background-color: #edc2a7;
}

@media (max-width: 600px) {
    .btn.hero-buttons {
        margin-right: 0;
    }
    .homePage .bigImage {
        height: 20vh;
    }
}